* {
  font-family: sans-serif;
}

.parent {
  font-family: sans-serif;
  text-align: center;
  margin: 10px;
}

img {
  width: 280px;
  display: block; 
  margin:100px auto;
}

h1 {
  text-align: center;
}

select {
  min-width: 300px;
  height: 35px;
  padding: 5px;
  font-size: 16px;
}
